body {
    background-color: rgb(255, 255, 255);
}


h1 {
font-size: 80px;
color:rgb(0, 165, 241);
-webkit-text-stroke: 2px rgb(80, 54, 196);
text-shadow: -4px 3px 0 #95baff, -10px 7px 0 #8efff6;
}

h2 {
font-size: 22px;
}

.section1 {
    background-color: rgb(226, 255, 254);
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 170px 200px 120px 100px;
    align-items:center;
    display: grid;
}

.nombre {
    text-align: center;
    grid-column-start: 2;
}

.article1 {
    text-align: center;
    grid-row-start: 2;
    grid-column-start: 2;
}

.article2 {
    text-align: start;
    grid-row-start: 3;
    grid-column-start: 1;
}

.article3 {
    text-align: end;
    grid-row-start: 3;
    grid-column-start: 3;
}

.section2 {
    background-color: rgb(231, 255, 254);
    display: flex;
    width: 100%;
    resize: both;
    height: auto;
    flex-wrap: wrap;
}

.article4 {
text-align: center;
min-width: 200px;
flex: 40px;
margin: 15px;
background-color: rgb(173, 245, 242);
}

h2 {
    font-size: 20px;
    color:rgb(0, 165, 241);
    }

.section3 {
    background-color: rgb(231, 255, 254);
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.article5 {
    background-color: rgb(173, 245, 242);
    margin: 15px;
    min-width: 300px;
    flex:300px;
}

.article7 {
    margin: 15px;
    min-width: 300px;
    flex:300px;
}

h3 {
    margin-left: 10px;
    text-align: start;
    font-size: 18px;
}

.section4 {
    display: flex;
}

.section5 {
    margin-left: 10px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.article6 {
    align-items: center;
}

.boton {
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 56px;
  }

.boton1 {
    background-color: rgb(173, 245, 242);
    color: black; 
    border: 4px solid #84d6e1;
    font-size: 24px;
    color:rgb(0, 165, 241);
  }
  
  .boton1:hover {
    background-color: rgb(119, 242, 236);
    font-size: 30px;
    color:rgb(0, 165, 241);
  }


  .facebook {
    width: 50px;
    }
    
    .twitter {
    width: 30px;
    text-align: center;
    margin-top: 12px;
    }
    
    .instagram {
    width: 32px;
    text-align: center;
    margin-top: 9px;
    }
    
    .youtube {
      width: 36px;
    text-align: center;
    margin-top: 7px;
    }
    

  a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.youtube2:hover {
    background-color: #cd201f;
}

.facebook2:hover {
    background-color: #3b5999;
}
.twitter2:hover {
    background-color: #55acee;
}
.instagram2:hover {
    background-color: #e4405f;
}

.section6 {
    display: flex;
    width: 100%;
    resize: both;
    height: auto;
    margin-top: 15px;
}

.article8 {
  margin-left: 25%;  
}

.article11 {
    margin-right: 25%;  
  }

  .article9 {
    margin-right: 5%;  
    margin-left: 10%; 
  }

  .article10 {
    margin-left: 5%; 
    margin-right: 10%; 
  }

  .section7 {
    background-color: rgb(231, 255, 254);
    display: flex;
    width: 100%;
    resize: both;
    height: auto;
    margin-top: 15px;
}